//规则：bgfff
//黑色系
.bg000 {
    background-color: #000;
}

.bg333 {
    background-color: #333;
}

//白色系
.bgfff {
    background-color: #fff;
}

.bgf5f5f5 {
    background-color: #f5f5f5;
}
.bgtransparent {
    background-color: transparent;
}
//其他
.bgff4862 {
    background-color: #ff4862;

}

.bg75602d {
    background-color: #75602D;
}
//透明度
.opacity0 {
    opacity: 0;
}

.opacity1 {
    opacity: .1;
}

.opacity2 {
    opacity: .2;
}

.opacity3 {
    opacity: .3;
}

.opacity4 {
    opacity: .4;
}

.opacity5 {
    opacity: .5;
}

.opacity6 {
    opacity: .6;
}

.opacity7 {
    opacity: .7;
}

.opacity8 {
    opacity: .8;
}

.opacity9 {
    opacity: .9;
}

.opacity10 {
    opacity: 1;
}

