//规则：cfff=>.c+小写
//主色调
.cff4862 {
    color: #FF4862;
}
// 黑色系
.c333 {
    color: #333;
}

.c444 {
    color: #444;
}
.c4c4c4c {
    color: #4C4C4C;
}
.c4d4d4d {
    color: #4d4d4d;
}
.c555 {
    color: #555;
}

.c666 {
    color: #666;
}

.c888 {
    color: #888;
}

.c999 {
    color: #999;
}
// 白色系
.cfff {
    color: #fff;
}
.cb2b2b2 {
    color: #b2b2b2;
}
.cb3b3b3 {
    color: #b3b3b3;
}
//其他
// 分享领券的
.c75602d {
    color: #75602d;
}
.cfff5dd {
    color: #FFF5DD;
}
.cc1b496 {
    color: #c1b496;
}
